<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="App"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="main.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="H2DataBasePlug-in.App"
            name="DatabaseApplication">
         <property
               name="appName"
               value="DatabaseApplication">
         </property>
      </product>
   </extension>

</plugin>
