<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="H2DataBasePlug-in.stores">
      <storage
            class="databases.H2Database"
            name="H2Database"
            pattern="^(jdbc:h2:\D+)$">
      </storage>
   </extension>

</plugin>
